<mat-accordion *ngIf="livros.length > 0">
    <mat-expansion-panel *ngFor="let livro of livros">
        <mat-expansion-panel-header>
            <p>{{livro.titulo}}</p>
        </mat-expansion-panel-header>
        <p>{{livro.id}}</p>
        <p>{{livro.autor}}</p>
        <p>{{livro.nmpag}}</p>
        <mat-action-row>
            <button mat-button color="primary">EDITAR</button>
            <button mat-button color="warn" (click)="onDelete(livro.idm)">REMOVER</button>
            </mat-action-row>           
    </mat-expansion-panel>
</mat-accordion>
<p class="mat-body-1" style="text-align:center" *ngIf="livros.length <= 0">
tem ninguém
</p>

